@model IEnumerable<Recursos_Humanos.V_Cargos_Empleados>

@{
    ViewBag.Title = "Index";
}

    <section class="single-page-title">
        <div class="container text-center">
            <h2>Cargos</h2>
        </div>
    </section>


    <div class="container body-content topSub">
        <table class="table" style="margin-top:20px">
            <tr class="thEstilos">
                <th>
                    @Html.DisplayName("Cargos")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr class="thEstilos2">
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    
                </tr>
            }

        </table>

    </div>